*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 100%;
    min-height: 30em;
}
h3{
    text-align: center;
}
ul{
    list-style: none;
    text-align: center;
}
li{
    margin: 0 1em;
}
body{
    background-color: black;
    color: white;
}
.white{
    background-color: white;
    color: black;
    min-height: 40em;
}
article{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.silver{
    background-color: #404040;
    padding: 0;
}
